Begin by importing the necessary libraries

In [21]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation


!pip install geopy 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
from geopy.exc import GeocoderTimedOut 

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

# import seaborn to make pretty plots
import seaborn as sns

# import k-means from clustering stage
from sklearn.cluster import KMeans

! pip install folium==0.5.0
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Requirement already satisfied: geopy in c:\users\nick\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\nick\anaconda3\lib\site-packages (from geopy) (1.50)
Requirement already satisfied: folium==0.5.0 in c:\users\nick\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: branca in c:\users\nick\anaconda3\lib\site-packages (from folium==0.5.0) (0.4.1)
Requirement already satisfied: jinja2 in c:\users\nick\anaconda3\lib\site-packages (from folium==0.5.0) (2.11.1)
Requirement already satisfied: requests in c:\users\nick\anaconda3\lib\site-packages (from folium==0.5.0) (2.22.0)
Requirement already satisfied: six in c:\users\nick\anaconda3\lib\site-packages (from folium==0.5.0) (1.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nick\anaconda3\lib\site-packages (from jinja2->folium==0.5.0) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nick\anaconda3\lib\site-packages (from requests->folium==0.5.0) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\nick\anaconda3\lib\site-packages (from requests->folium==0.5.0) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nick\anaconda3\lib\site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\nick\anaconda3\lib\site-packages (from requests->folium==0.5.0) (1.25.8)
Folium installed
Libraries imported.

In [160]:
# load the dataset
kc_data = pd.read_csv(r'C:\Users\Nick\Documents\Coursera\Applied Data Science Capstone\Final Project\KCPD_Crime_Data_2020.csv', usecols = ['Zip Code','DVFlag', 'Reported_Date'])
pd.to_datetime(kc_data['Reported_Date'])

#Limit the incidents to only domestic violence
kc_data = kc_data.loc[kc_data['DVFlag'] == 'Y']
kc_data = kc_data.dropna()

#reduce the dataset size so we can make all the calls necessary for lat long coordinates
#kc_data = kc_data.tail(1500)
#print the dataset
kc_data.head()

  Reported_Date  Zip Code DVFlag
0      2/5/2020     66206      Y
1      2/5/2020     66206      Y
2     5/18/2020     66110      Y
3     5/18/2020     66110      Y
4     5/18/2020     66106      Y

In [161]:
kc_data.shape

(10141, 3)

Import a list of Kansas City zip codes with lat long coordinates from csv available on https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/export/?q=kansas+city

In [115]:
k_zip = pd.read_csv(r'C:\Users\Nick\Documents\Coursera\Applied Data Science Capstone\Final Project\us-zip-code-latitude-and-longitude1.csv')
#
k_zip.head(15)

      Zip         City State   Latitude  Longitude
0   64944  Kansas City    MO  39.035038 -94.356728
1   64168  Kansas City    MO  39.343225 -94.851610
2   64155  Kansas City    MO  39.276828 -94.573440
3   64141  Kansas City    MO  39.035038 -94.356728
4   64108  Kansas City    MO  39.084554 -94.582960
5   66104  Kansas City    KS  39.137003 -94.672030
6   64160  Kansas City    MO  39.282869 -94.408998
7   64154  Kansas City    MO  39.261679 -94.633530
8   64126  Kansas City    MO  39.092304 -94.499480
9   64119  Kansas City    MO  39.202654 -94.518160
10  64124  Kansas City    MO  39.107304 -94.539850
11  64112  Kansas City    MO  39.037605 -94.595370
12  64184  Kansas City    MO  39.035038 -94.356728
13  64188  Kansas City    MO  39.035038 -94.356728
14  64197  Kansas City    MO  39.035038 -94.356728

Now we need to add the lat long coordinates based on the addresses, then reindex the crime reports. It was not actually possible to use the google API to determine the lat/long by zip code for me in this relatively useless portion of the course. Since there are duplicates, out of state zip codes, and incorrect values in the datasets, due to the inadequate nature of teaching data cleanings and python joins, I merged these tables in excel after many hours of trying to get calls to come back from the geocoder, outside of the python interface.

In [162]:
# merge wa_grouped_cluster with crime data to add latitude/longitude for each district
#result = pd.merge(kc_data, k_zip, on='Zip Code')
#result.head()

In [166]:
# load the dataset
kc_data = pd.read_csv(r'C:\Users\Nick\Documents\Coursera\Applied Data Science Capstone\Final Project\KCPD_Crime_Data_2020.csv')
pd.to_datetime(kc_data['Reported_Date'])

#Limit the incidents to only domestic violence
kc_data = kc_data.loc[kc_data['DVFlag'] == 'Y']
kc_data = kc_data.dropna()

#reduce the dataset size so we can make all the calls necessary for lat long coordinates
#kc_data = kc_data.tail(1500)
#print the dataset
kc_data.head()

   Unnamed: 0 Reported_Date  Zip Code DVFlag   Latitude  Longitude
0        2089     1/12/2020     64153      Y  39.281602  -94.71439
1        3309     2/24/2020     64153      Y  39.281602  -94.71439
2        3498      3/3/2020     64153      Y  39.281602  -94.71439
3        3930     1/31/2020     64153      Y  39.281602  -94.71439
4        4527     1/24/2020     64153      Y  39.281602  -94.71439